.font-sm {
  font-size: 14px;
}

.font-md {
  font-size: 17px;
}

.font-lr {
  font-size: 17px;
}

.font-lg {
  font-size: 25px;
}

.title {
  font-size: 20px !important;
  line-height: 25px !important;
  font-weight: bold !important;
}

.title__text {
  font-size: 14px !important;
  line-height: 20px !important;
  color: #555 !important;
}

.mb-sm {
  margin-bottom: 24px !important;
}

.mb-md {
  margin-bottom: 36px !important;
}

.mb-lg {
  margin-bottom: 50px !important;
}

.pb-sm {
  padding-bottom: 24px !important;
}

.pb-lg {
  padding-bottom: 80px;
}

.content-width {
  width: 90%;
  margin: 0 auto;
  max-width: 1160px;
  text-align: center;
}

.main__btn {
  display: inline-block;
  width: 195px;
  height: 44px;
  line-height: 44px;
  font-size: 16px;
  text-align: center;
  border: solid 1px #B7B7B7;
  border-radius: 28px;
  color: #777;
  text-decoration: none;
  font-weight: bold;
  margin: 0 20px;
  position: relative;
}

.main__btn .right__icon {
  display: inline-block;
  position: absolute;
  left: 170px;
}

header {
  width: 100%;
  position: fixed;
  height: 100px;
  z-index: 2;
}

header .header__banner {
  height: 45px;
  background-color: #07b53b;
  text-align: center;
}

header .header__banner .head__banner {
  height: 27px;
}

header .header__banner .banner__img {
  height: 100%;
  width: 250px;
  margin: auto 0;
}

header .main__header {
  height: 55px;
  width: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #eeeeee;
}

header .main__header .head__logo {
  width: 132px;
  height: 18px;
  margin-left: 15px;
}

header .main__header .header__right {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .main__header .header__right .apply__btn {
  display: inline-block;
  margin: 0 15px;
  background-color: #07b53b;
  border-radius: 30px;
  color: white;
  font-size: 12px;
  text-decoration: none;
}

header .main__header .header__right .apply__btn .fa-pen {
  display: inline-block;
  margin-right: 5px;
}

header .main__header .header__right .header__menu {
  border: 1px solid #eeeeee;
  text-align: center;
  height: 55px;
}

header .main__header .header__right .header__menu .icon {
  margin: auto;
  padding: 8px 12px;
}

header .main__header .header__right .header__menu .icon .fa-bars {
  font-size: 18px;
}

header .main__header .header__right .header__menu .icon p {
  font-size: 8px;
  margin: 0;
}

header .md__main__header {
  display: none;
}

.swiper__img {
  width: 100%;
  height: 290px;
  margin-top: 55px;
}

.sm__apply__banner {
  width: 100%;
}

.lg__apply__banner {
  display: none;
}

.top__section .section__child .top__icon {
  width: 104px;
  height: 104px;
  margin-bottom: 10px;
}

.top__section .section__child .lg__br {
  display: none;
}

.section__child2 {
  background-color: #07b53b !important;
  height: 277px !important;
  text-align: center;
}

.section__child2 h2 {
  font-size: 20px;
  font-weight: 700;
  color: white;
  padding-top: 32px;
}

.section__child2 p {
  font-size: 14px;
}

.section__child2 a {
  text-decoration: none;
  color: white;
}

.section__child2 a:hover {
  text-decoration: none;
  color: white;
}

.section__child2 .sub__btn {
  display: inline-block;
  width: 245px;
  height: 44px;
  line-height: 44px;
  font-size: 16px;
  text-align: center;
  border: solid 1px white;
  background-color: white;
  border-radius: 28px;
  color: #07b53b;
  text-decoration: none;
  font-weight: bold;
  position: relative;
}

.section__child2 .sub__btn .right__icon {
  display: inline-block;
  position: absolute;
  right: 10px;
}

.section__child3 .col {
  padding: 0;
  border: 2px solid #dfdfdf;
  border-radius: 3px;
}

.section__child3 .col .col__part1 {
  width: 100%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
}

.section__child3 .col .col__part1 .col__1 {
  text-align: start;
  max-width: 300px;
}

.section__child3 .col .col__part1 .col__2 {
  margin: 0 auto;
}

.section__child3 .col .col__part1 .col__img {
  height: 110px;
  width: 110px;
}

.section__child3 .col .col__part2 {
  height: 46px;
  border-top: 2px solid #dfdfdf;
  color: #777777;
  font-weight: 700;
  position: relative;
}

.section__child3 .col .col__part2 p {
  line-height: 46px;
  margin-bottom: auto !important;
}

.section__child3 .col .col__part2 p .fa-chevron-right {
  position: absolute;
  right: 10px;
  top: 15px;
}

.section__child4 {
  background-color: #07b53b;
  padding: 18px 0;
}

.section__child4 .part1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 20px;
}

.section__child4 .part1 h2 {
  font-size: 20px !important;
  font-weight: bold;
  padding-bottom: 8px !important;
  color: white !important;
}

.section__child4 .part1 p {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
  padding-bottom: 29px;
  color: white;
}

.section__child4 .part1 img {
  width: 130px;
  height: 120px;
}

.section__child4 .part2 {
  background-color: white;
  text-align: start;
  padding-bottom: 16px;
}

.section__child4 .part2 .child1 {
  width: 95%;
  margin: 0 auto;
}

.section__child4 .part2 .child1 h2 {
  font-size: 16px;
  font-weight: bold;
  color: #111;
  padding: 20px 0 2px;
  border-bottom: 1px solid black;
}

.section__child4 .part2 .child1 .child__col .child__col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #efefef;
}

.section__child4 .part2 .child1 .child__col .col__img {
  height: 72px !important;
  width: 72px;
  margin: 15px 14px 15px 0;
}

.section__child4 .part2 .child1 .child__col .section4-lg-img {
  display: none;
}

.section__child4 .part2 .child1 .child__col .lg-link {
  display: none;
}

.section__child4 .part2 .child1 .child__col p {
  color: #444;
  margin: auto 0;
  padding-bottom: 0px;
  font-weight: normal;
  padding-right: 27px;
  font-size: 14px;
  line-height: 20px;
  width: 100%;
}

.section__child4 .part2 .child1 .child__col .fa-chevron-right {
  display: inline-block;
  font-size: 16px;
}

.section__child4 .part2 .child2 {
  width: 95%;
  height: 100%;
  margin: 0 auto;
}

.section__child4 .part2 .child2 .child2__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-bottom: 1px solid black;
}

.section__child4 .part2 .child2 .child2__title h2 {
  font-size: 16px;
  font-weight: bold;
  color: #111;
  margin: 15px 0 2px;
  border-bottom: none;
}

.section__child4 .part2 .child2 .child2__title a {
  display: inline-block;
  text-decoration: none;
  font-size: 12px;
  color: #555;
  margin-bottom: 2px;
}

.section__child4 .part2 .child2 .child__col2 {
  font-size: 14px;
  line-height: 20px;
  border-bottom: 1px solid #efefef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__child4 .part2 .child2 .child__col2 p {
  margin: 0;
  padding: 15px 10px 10px 0;
  position: relative;
  color: #555;
}

.section__child4 .part2 .child2 .child__col2 p .fa-chevron-right {
  display: inline-block;
  font-size: 16px;
}

.section__child5 {
  background-color: #f5f7f9;
  padding: 18px 0;
}

.section__child5 .child2 {
  width: 95%;
  margin: 0 auto;
}

.section__child5 .child2 .child2__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-bottom: 1px solid black;
}

.section__child5 .child2 .child2__title h2 {
  font-size: 16px;
  font-weight: bold;
  color: #111;
  margin: 15px 0 8px;
}

.section__child5 .child2 .child2__title a {
  display: inline-block;
  text-decoration: none;
  font-size: 12px;
  color: #555;
  margin-bottom: 8px;
}

.section__child5 .child2 .child__col2 {
  font-size: 14px;
  line-height: 20px;
  border-bottom: 1px solid #efefef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section__child5 .child2 .child__col2 .fq {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section__child5 .child2 .child__col2 .fq h2 {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  padding-bottom: 0px;
  position: relative;
  color: #555555;
  width: 95%;
}

.section__child5 .child2 .child__col2 .fq h2 .fa-quora {
  display: inline-block;
  margin-right: 10px;
}

.section__child5 .child2 .child__col2 .fq h2 .fa-chevron-down {
  display: inline-block;
  font-size: 16px;
}

.section__child5 .child2 .child__col2 .lg__apply__banner {
  display: none;
}

.section__child5 .child2 .child__col2 .detail {
  display: none;
  width: 100%;
  background-color: white;
}

.section__child5 .child2 .child__col2 .detail p {
  margin: auto;
  padding: 0 10px;
  font-size: 14px;
}

.section__child5 .child2 .child__col2 .detail p .green {
  color: #07b53b;
}

.section__child5 .child2 .child__col2 ul {
  padding: 15px 0;
  margin: 0;
}

.section__child5 .child2 .child__col2 ul p {
  margin: 0;
  padding-right: 10px;
  color: #555;
}

.section__child5 .child2 .child__col2 ul p .fa-chevron-right {
  font-size: 16px;
}

.section__child5 .child2 .child__col2 ul time {
  color: #949494;
  font-size: 14px;
}

.section__child6 .section__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section__child6 .section__title h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  text-align: left;
  padding: 45px 0 50px 17px;
}

.section__child6 .section__title img {
  height: 125px;
  width: 130px;
  margin-top: 45px;
}

.section__child6 .section1 {
  background-color: #07b53b;
  text-align: center;
  height: 48px;
}

.section__child6 .section1 h3 {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  line-height: 48px;
  vertical-align: baseline;
}

.section__child6 .section2 {
  background-color: #f5f7f9;
  padding: 30px 20px;
  height: 100%;
}

.section__child6 .section2 h4 {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 15px;
  color: #ff0064;
}

.section__child6 .section2 .text1 {
  font-size: 18px;
  color: #111;
  line-height: 30px;
  margin: 0;
}

.section__child6 .section2 .text2 {
  font-size: 32px;
  font-weight: bold;
  line-height: 33px;
  color: #07b53b;
}

.section__child6 .section2 .text3 {
  padding: 0 10px;
  font-size: 14px;
  line-height: 21px;
}

.section__child6 .section2 .text3-right {
  text-align: start;
  margin-bottom: 6px;
  padding: 0;
}

.section__child6 .section2 img {
  display: block;
  margin: 0 auto;
  height: 172px;
}

.section__child6 .section2 .sim-img {
  width: 205px;
  height: 115px;
}

.section__child6 .section2 .sm-img {
  width: 80%;
  height: 220px;
}

.section__child6 .section2 .btn-group {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section__child6 .section2 .main__btn {
  display: inline-block;
  width: 245px;
  height: 44px;
  line-height: 44px;
  font-size: 16px;
  text-align: center;
  border: solid 1px #B7B7B7;
  background-color: white;
  border-radius: 28px;
  color: #777;
  text-decoration: none;
  font-weight: bold;
  margin: 0 20px;
  position: relative;
}

.section__child6 .section2 .main__btn .right__icon {
  display: inline-block;
  position: absolute;
  right: -40px;
}

.section__child6 .section2 ul {
  text-align: start;
  padding: 0;
  margin: 0;
}

.section__child6 .section2 ul li {
  list-style: none;
  font-size: 10px;
  color: #777;
  line-height: 14px;
}

.section__child6 .section2 ul li a {
  color: #07b53b;
}

.section__child6 .section2 ul li a:hover {
  text-decoration: none;
  color: #07b53b;
}

.section__child7 h2 {
  text-align: center;
  font-size: 20px !important;
  font-weight: bold !important;
}

.section__child7 .border {
  border: 2px solid #f5f7f9 !important;
  border-radius: 3px;
}

.section__child7 .section__container {
  background-color: #f5f7f9;
}

.section__child7 .section__container .section1 .sm-img {
  width: 100%;
  height: 230px;
}

.section__child7 .section__container .section1 .sm-img2 {
  width: 100%;
  height: 177px !important;
}

.section__child7 .section__container .section2 h3 {
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}

.section__child7 .section__container .section2 p {
  padding: 10px 0;
  font-size: 14px;
  margin: 0;
  text-align: start;
}

.section__child7 .section__container .section2 .sm-img {
  height: 220px !important;
}

.section__child7 .section__container .section2 dl {
  width: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #dfdfdf;
}

.section__child7 .section__container .section2 dl .point {
  color: #fe0264 !important;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 0;
  margin: 0;
}

.section__child7 .section__container .section2 .normal-dl {
  border-bottom: 1px solid #dfdfdf;
}

.section__child7 .section__container .section2 .normal-dl .normal {
  font-size: 16px;
  font-weight: 700;
  padding: 10px 0;
  margin: 0;
}

.section__child7 .section__container .section2 .main__btn {
  display: inline-block;
  width: 245px;
  height: 44px;
  line-height: 44px;
  font-size: 16px;
  text-align: center;
  border: solid 1px #B7B7B7;
  background-color: white;
  border-radius: 28px;
  color: #777;
  text-decoration: none;
  font-weight: bold;
  margin: 0 20px;
  position: relative;
}

.section__child7 .section__container .section2 .main__btn .right__icon {
  display: inline-block;
  position: absolute;
  right: -40px;
}

.section__child7 .section__container .section2 ul {
  text-align: start;
  padding: 0;
  margin: 0;
}

.section__child7 .section__container .section2 ul li {
  list-style: none;
  font-size: 10px;
  color: #777;
  line-height: 14px;
}

.sub-text {
  text-align: center;
  font-size: 10px;
  color: #777;
  line-height: 14px;
}

.section__child8 .section1-child {
  border-top: 1px solid #dfdfdf;
  text-align: start;
  position: relative;
}

.section__child8 .section1-child h3 {
  padding: 16px 10px;
  margin: 0;
  line-height: 16px;
}

.section__child8 .section1-child a {
  font-size: 13px;
  color: #555555;
}

.section__child8 .section1-child a:hover {
  text-decoration: none;
}

.section__child8 .section1-child a .fa-caret-right {
  display: inline-block;
  position: absolute;
  right: 5px;
  top: 20px;
}

.section__child8 .section1-child a .fa-chevron-down {
  display: inline-block;
  position: absolute;
  right: 5px;
  top: 20px;
}

.section__child8 .section1-child ul {
  display: none;
}

.section__child8 .last-child {
  border-bottom: 1px solid #dfdfdf;
}

.section__child9 {
  background-color: #f5f7f9;
  padding-bottom: 20px;
}

.section__child9 .title-part {
  text-align: center;
  padding: 30px 0 10px;
}

.section__child9 .sns {
  width: 100%;
  background-color: white;
  border-radius: 3px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.section__child9 .sns a {
  display: inline-block;
  margin: 14px 14px 14px 24px;
}

.section__child9 .sns a .fa-line {
  font-size: 48px;
  color: #06b856;
}

.section__child9 .sns a .fa-twitter-square {
  font-size: 48px;
  color: deepskyblue;
}

.section__child9 .sns p {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-align: start;
  color: #777777;
  margin: 0;
}

.section__child9 .sns p .fa-chevron-right {
  position: absolute;
  top: 30px;
  right: 10px;
  font-size: 16px;
}

.section__child10 {
  background-color: #06b856;
  padding-bottom: 20px;
}

.section__child10 .apply-child {
  text-align: start;
  padding-top: 30px;
}

.section__child10 .apply-child .text1 {
  font-size: 14px;
  color: white;
}

.section__child10 .apply-child .text2 {
  font-size: 16px;
  color: white;
}

.section__child10 .apply-child .text2 .text3 {
  font-size: 30px;
  line-height: 30px;
}

.section__child10 .apply-child img {
  width: 140px;
  height: 45px;
}

.section__child10 .apply-part2 {
  background-color: white !important;
}

.section__child10 .apply-part2 .content-width {
  width: 95% !important;
  padding-top: 10px;
  text-align: start !important;
}

.section__child10 .apply-part2 .content-width .text4 {
  font-size: 16px;
  font-weight: bold;
  color: #111;
  line-height: 20px;
}

.section__child10 .apply-part2 .content-width .text5 {
  font-size: 14px;
  color: #555;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #dfdfdf;
}

.section__child10 .apply-part2 .content-width .text6 {
  font-size: 12px;
  line-height: 19px;
  color: #777;
  margin-bottom: 0;
  padding-bottom: 10px;
}

footer {
  padding-bottom: 20px;
  height: 126px;
  background-color: black;
  padding: 28px 21px;
  text-align: center;
}

footer ul {
  max-width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer ul li {
  list-style: none;
  padding: 0 10px;
  border-right: 1px solid   #555555;
  height: 15px;
}

footer ul li a {
  color: #dfdfdf;
  font-size: 10px;
  height: 10px;
  vertical-align: middle;
}

footer ul .last-li {
  border: none;
}

footer p {
  margin: 0;
  color: #dfdfdf;
  font-size: 10px;
  padding-top: 5px;
}

footer .footer-logo {
  display: none;
}

@media screen and (min-width: 425px) {
  .section__child7 .section__container .section1 img {
    height: 255px !important;
  }
}

@media screen and (min-width: 760px) {
  header {
    width: 100%;
    position: static;
  }
  header .main__header {
    display: none;
  }
  header .md__main__header {
    display: block;
    width: 100%;
  }
  header .md__main__header .md__header__all {
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 98px;
  }
  header .md__main__header .md__header__all .md__header__left {
    margin-left: 40px;
  }
  header .md__main__header .md__header__all .md__header__left .head__logo {
    width: 100px;
    height: 18px;
  }
  header .md__main__header .md__header__all .md__header__center {
    margin: auto;
  }
  header .md__main__header .md__header__all .md__header__center ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
  }
  header .md__main__header .md__header__all .md__header__center ul li {
    list-style-type: none;
    margin-right: 10px;
  }
  header .md__main__header .md__header__all .md__header__center ul li a {
    font-size: 16px;
    font-weight: 700;
    color: #888;
    text-decoration: none;
    display: block;
    padding: 6px;
  }
  header .md__main__header .md__header__all .md__header__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
    margin-right: 50px;
    text-align: center;
  }
  header .md__main__header .md__header__all .md__header__right p {
    padding: 14px 13px;
    color: #04bd41;
    margin: 0;
    font-size: 12px;
    font-weight: 700;
  }
  header .md__main__header .md__header__all .md__header__right .apply .apply__btn {
    display: inline-block;
    width: 100px;
    height: 30px;
    padding: 4px 12px;
    background-color: #07b53b;
    border-radius: 30px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
  }
  header .md__main__header .md__header__all .md__header__right .apply .apply__btn .fa-pen {
    display: inline-block;
    margin-right: 5px;
  }
  .swiper .swiper__img {
    margin: 0;
  }
  .sm__apply__banner {
    display: none;
  }
  .lg__apply__banner {
    display: inline-block;
    margin: 0 auto;
    display: block;
    max-width: 770px;
  }
  .top__section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .top__section .section__child {
    max-width: 305px;
  }
  .top__section .section__child .top__icon {
    width: 144px;
    height: 144px;
    margin-bottom: 15px;
  }
  .top__section .section__child .lg__br {
    display: block;
  }
  .section__child2 {
    height: 311px !important;
    padding: 68px 64px;
  }
  .section__child2 .cp__section {
    text-align: start;
    height: 177px;
  }
  .section__child2 h2 {
    font-size: 36px !important;
    padding-top: 0 !important;
    padding-bottom: 15px;
  }
  .section__child2 p {
    font-size: 20px;
  }
  .section__child2 .sub__btn {
    width: 260px;
    height: 56px;
    line-height: 56px;
    font-size: 18px;
  }
  .section__child2 .sub__btn .right__icon {
    display: inline-block;
    position: absolute;
    right: 10px;
  }
  .section__child3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .section__child3 .col {
    max-width: 370px;
    height: 260px;
  }
  .section__child3 .col .col__part1 {
    height: 205px;
  }
  .section__child3 .col .col__part1 .title {
    font-size: 14px !important;
  }
  .section__child3 .col .col__part1 .title__text {
    font-size: 12px !important;
  }
  .section__child6 {
    margin-bottom: 40px;
  }
  .section__child6 .child6-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section__child6 .child6-flex .section__container {
    max-width: 565px;
    width: 50%;
    margin-left: 20px;
    height: 500px;
  }
  .section__child6 .child6-flex .section__container .section2 .text3-right {
    margin-bottom: 20px;
  }
  .section__child6 .child6-flex .section__container .section2 .sm-img {
    height: 270px;
    width: 50% !important;
  }
  .section__child7 .section__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section__child7 .section__container .section1 {
    width: 50%;
    height: 380px !important;
  }
  .section__child7 .section__container .section1 .sm-img2 {
    height: 380px !important;
  }
  .section__child7 .section__container .section2 {
    width: 50%;
    padding: 50px;
  }
  .section__child8 .section1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section__child8 .section1 .section1-child {
    border: none;
    width: 230px !important;
    margin: 0 auto;
  }
  .section__child8 .section1 .section1-child span {
    display: none;
  }
  .section__child8 .section1 .section1-child h3 {
    padding-bottom: 10px;
  }
  .section__child8 .section1 .section1-child h3 a {
    font-size: 18px;
    font-weight: 700;
  }
  .section__child8 .section1 .section1-child ul {
    display: block !important;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .section__child8 .section1 .section1-child ul li {
    padding: 5px 10px;
  }
  .section__child8 .section1 .section1-child ul li a {
    font-size: 16px;
  }
  .section__child8 .top {
    padding-top: 20px;
    border-top: 1px solid #dfdfdf;
  }
}

@media screen and (min-width: 960px) {
  .section__child3 .col .col__part1 .title {
    font-size: 22px !important;
  }
  .section__child3 .col .col__part1 .title__text {
    font-size: 16px !important;
  }
  .section__child4 .content-width .part1 h2 {
    font-size: 36px !important;
  }
  .section__child4 .content-width .part1 p {
    font-size: 20px;
  }
  .section__child4 .content-width .part1 .br-none {
    display: none;
  }
  .section__child4 .content-width .part2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #07b53b;
  }
  .section__child4 .content-width .part2 .child1 {
    background-color: white;
    margin-right: 20px;
    max-width: 565px;
    height: 390px;
    padding: 40px 35px;
  }
  .section__child4 .content-width .part2 .child1 h2 {
    color: #111 !important;
    font-size: 22px !important;
    padding-bottom: 2px !important;
  }
  .section__child4 .content-width .part2 .child1 .child__col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section__child4 .content-width .part2 .child1 .child__col .child__col1 {
    display: block;
    border: none;
  }
  .section__child4 .content-width .part2 .child1 .child__col .child__col1 .col__img {
    display: none;
  }
  .section__child4 .content-width .part2 .child1 .child__col .child__col1 p {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    color: #444;
    padding: 9px 0px;
  }
  .section__child4 .content-width .part2 .child1 .child__col .child__col1 .section4-lg-img {
    display: block;
    width: 230px !important;
    height: 120px !important;
  }
  .section__child4 .content-width .part2 .child1 .child__col .child__col1 .right__icon {
    display: none;
  }
  .section__child4 .content-width .part2 .child1 .child__col .child__col1 .lg-link {
    display: block;
    color: #07b53b;
    font-size: 14px;
    padding-right: 12px;
    text-decoration: none;
  }
  .section__child4 .content-width .part2 .child1 .child__col .child__col1 .lg-link .fa-chevron-right {
    display: inline-block;
    font-size: 12px;
    margin-left: 8px;
  }
  .section__child4 .content-width .part2 .child2 {
    background-color: white;
    margin-right: 20px;
    max-width: 565px;
    height: 390px;
    padding: 40px 35px;
  }
  .section__child4 .content-width .part2 .child2 h2 {
    color: #111 !important;
    font-size: 22px !important;
    margin: 0;
    padding: 20px 0 2px !important;
  }
  .section__child4 .content-width .part2 .child2 .child__col2 p {
    font-size: 16px;
    padding: 18px 0;
    padding-right: 38px;
    color: #555;
    text-decoration: none;
    display: block;
  }
  .section__child5 .child2 {
    width: 80%;
  }
  .section__child5 .child2 .child2__title {
    margin-top: 40px;
    border: none;
  }
  .section__child5 .child2 .child2__title h2 {
    font-size: 22px;
  }
  .section__child5 .child2 .child2__title a {
    display: none;
  }
  .section__child5 .child2 .child__col2 {
    display: block;
    background-color: white;
    padding: 25px 40px;
    margin-bottom: 20px;
  }
  .section__child5 .child2 .child__col2 h2 {
    font-size: 16px !important;
    font-weight: 700;
  }
  .section__child5 .child2 .child__col2 p {
    font-size: 14px;
    line-height: 24px;
  }
  .section__child5 .child2 .child__col2 .right__icon {
    display: none;
  }
  .section__child5 .child2 .child__col2 .detail {
    display: block;
  }
  .section__child5 .child2 .child__col2 .lg__apply__banner {
    display: block;
  }
  .section__child5 .child2 ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 16px;
  }
  .section__child5 .child2 ul p {
    padding-left: 16px;
  }
  .section__child6 .title-section, .section__child6 .section__title {
    margin: auto;
    text-align: center;
  }
  .section__child6 .title-section h2, .section__child6 .section__title h2 {
    font-size: 36px !important;
  }
  .section__child6 .title-section h2 .lg-br, .section__child6 .section__title h2 .lg-br {
    display: none;
  }
  .section__child6 .section-flex, .section__child6 .child6-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section__child6 .section-flex .section__container, .section__child6 .child6-flex .section__container {
    max-width: 565px;
    margin-left: 10px;
  }
  .section__child6 .section-flex .section__container .section1 h3, .section__child6 .child6-flex .section__container .section1 h3 {
    font-size: 22px !important;
  }
  .section__child6 .section-flex .section2 h4, .section__child6 .child6-flex .section2 h4 {
    font-size: 22px;
    color: #ff0064;
    padding-bottom: 20px;
    text-align: center;
  }
  .section__child6 .section-flex .section2 .text1, .section__child6 .child6-flex .section2 .text1 {
    text-align: center;
    font-size: 22px;
    color: #111;
    line-height: 42px;
  }
  .section__child6 .section-flex .section2 .text2, .section__child6 .child6-flex .section2 .text2 {
    text-align: center;
    font-size: 36px;
    color: #07b53b;
    line-height: 42px;
    font-weight: bold;
  }
  .section__child6 .section-flex .section2 .text2 .lg-br, .section__child6 .child6-flex .section2 .text2 .lg-br {
    display: none;
  }
  .section__child6 .section-flex .section2 .text3-right, .section__child6 .child6-flex .section2 .text3-right {
    font-size: 16px;
    padding: 25px;
    margin: 0;
  }
  .section__child6 .section-flex .section2 img, .section__child6 .child6-flex .section2 img {
    margin: 20px auto;
    height: 225px;
  }
  .section__child6 .section-flex .section2 .sim-img, .section__child6 .child6-flex .section2 .sim-img {
    width: 205px;
    height: 115px;
  }
  .section__child6 .section-flex .section2 .phone-img, .section__child6 .child6-flex .section2 .phone-img {
    height: 210px !important;
  }
  .section__child7 .section__title h2 {
    font-size: 36px !important;
    margin-bottom: 36px;
  }
  .section__child7 .section__title h2 .lg-br {
    display: none;
  }
  .section__child9 .title-part .title {
    font-size: 36px !important;
  }
  .section__child9 .sns-part {
    width: 70%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section__child9 .sns-part .sns {
    margin-left: 10px;
  }
  .section__child10 .apply-part .apply-child .text1 {
    font-size: 20px;
  }
  .section__child10 .apply-part .apply-child .text2, .section__child10 .apply-part .apply-child .text3 {
    margin-top: 16px;
    line-height: 55px;
    font-size: 48px;
    font-weight: bold;
  }
  .section__child10 .apply-part .apply-child img {
    width: 200px;
    height: 60px;
  }
  .section__child10 .apply-part2 {
    width: 50%;
  }
  .section__child10 .apply-part2 .content-width {
    padding: 30px 15px;
  }
  .section__child10 .apply-part2 .content-width .text4 {
    font-size: 20px;
  }
  footer .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer-container ul {
    max-width: 1200px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  footer .footer-container ul li a {
    font-size: 12px;
  }
  footer .footer-container .line-mobile {
    display: none;
  }
  footer .footer-container .footer-logo {
    display: block;
  }
}

@media screen and (min-width: 1280px) {
  .font-sm {
    font-size: 16px;
  }
  .font-md {
    font-size: 19px;
  }
  .font-lr {
    font-size: 23px;
  }
  .font-lg {
    font-size: 36px;
  }
  .mb-sm {
    margin-bottom: 20px !important;
  }
  .mb-md {
    margin-bottom: 36px !important;
  }
  .mb-lg {
    margin-bottom: 50px !important;
  }
  .pb-sm {
    padding-bottom: 16px !important;
  }
  .pb-lg {
    padding-bottom: 50px;
  }
  .title {
    font-size: 24px !important;
    line-height: 36px !important;
    font-weight: bold !important;
    margin-bottom: 14px;
  }
  .title__text {
    font-size: 16px !important;
    line-height: 24px !important;
    color: #555 !important;
    margin-bottom: 20px;
  }
  .main__btn {
    display: inline-block;
    width: 260px;
    height: 56px;
    line-height: 56px;
    font-size: 168x;
    text-align: center;
    border: solid 1px #B7B7B7;
    border-radius: 28px;
    color: #777;
    text-decoration: none;
    font-weight: bold;
    margin: 20 20px;
  }
  .main__btn .right__icon {
    display: inline-block;
  }
  header {
    width: 100%;
    position: static;
  }
  header .main__header {
    display: none;
  }
  header .md__main__header {
    display: block;
    width: 100%;
  }
  header .md__main__header .md__header__all {
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 98px;
  }
  header .md__main__header .md__header__all .md__header__left {
    margin-left: 80px;
  }
  header .md__main__header .md__header__all .md__header__left .head__logo {
    width: 164px;
    height: 22px;
  }
  header .md__main__header .md__header__all .md__header__center {
    margin: auto;
  }
  header .md__main__header .md__header__all .md__header__center ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
  }
  header .md__main__header .md__header__all .md__header__center ul li {
    list-style-type: none;
    margin-right: 10px;
  }
  header .md__main__header .md__header__all .md__header__center ul li a {
    font-size: 19px;
    font-weight: 700;
    color: #888;
    text-decoration: none;
    display: block;
    padding: 12px 13px 11px;
  }
  header .md__main__header .md__header__all .md__header__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
    margin-right: 80px;
    text-align: center;
  }
  header .md__main__header .md__header__all .md__header__right p {
    padding: 14px 13px;
    color: #04bd41;
    margin: 0;
    font-size: 14px;
    font-weight: 700;
  }
  header .md__main__header .md__header__all .md__header__right .apply .apply__btn {
    display: inline-block;
    width: 140px;
    height: 40px;
    padding: 7px 21px 6px;
    background-color: #07b53b;
    border-radius: 30px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
  }
  header .md__main__header .md__header__all .md__header__right .apply .apply__btn .fa-pen {
    display: inline-block;
    margin-right: 5px;
  }
  .swiper__img {
    height: 540px;
    margin: 0;
  }
  .top__section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .top__section .section__child {
    max-width: 305px;
  }
  .top__section .section__child .top__icon {
    width: 144px;
    height: 144px;
    margin-bottom: 15px;
  }
  .top__section .section__child .lg__br {
    display: block;
  }
  .section__child2 {
    height: 311px !important;
    padding: 68px 64px;
  }
  .section__child2 .cp__section {
    text-align: start;
    height: 177px;
  }
  .section__child2 h2 {
    font-size: 36px !important;
    padding-top: 0 !important;
    padding-bottom: 15px;
  }
  .section__child2 p {
    font-size: 20px;
  }
  .section__child2 .sub__btn {
    width: 260px;
    height: 56px;
    line-height: 56px;
    font-size: 18px;
  }
  .section__child2 .sub__btn .right__icon {
    display: inline-block;
    position: absolute;
    right: 10px;
  }
  .section__child3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .section__child3 .col {
    max-width: 370px;
    height: 260px;
  }
  .section__child3 .col .col__part1 {
    height: 205px;
  }
}
/*# sourceMappingURL=style.css.map */
